fastapi
uvicorn[standard]
motor
pymongo[srv]
jinja2
python-multipart
websockets
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
Pillow
httpx
requests
python-telegram-bot
flask
tornado
google-api-python-client
google-auth-httplib2
google-auth-oauthlib